<div class="home-container">
  <div class="intro-text">
    <p>I'M <span class="highlight">Prajwal M</span></p>
    <h2>Junior Software Developer</h2>
    <button class="contact-btn" (click)="scrollToContact()">Contact Me</button>
  </div>
  
  <div class="profile-pic">
    <img src="profile.jpg" alt="Prajwal M">
  </div>
  
  <div class="social-icons">
    <div class="line"></div>
    <a href="https://github.com/0LUCIFER00" target="_blank" aria-label="GitHub">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/prajwal-madhu-2390842b1/" target="_blank" aria-label="LinkedIn">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.facebook.com/profile.php?id=100054918472062" target="_blank" aria-label="Facebook">
      <i class="fab fa-facebook"></i>
    </a>
    <a href="https://web.whatsapp.com" target="_blank" aria-label="WhatsApp">
      <i class="fab fa-whatsapp"></i>
    </a>
    <a href="https://www.instagram.com/x_king._.rider_x/?__pwa=1" target="_blank" aria-label="Instagram">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
</div>